<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="autenticnovoConnectionString2" connectionString="Data Source=LAPTOP-I2SGTU33\NOVO;Initial Catalog=autenticnovo;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<appSettings>
		<!--key das validações-->
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<!--key do do pdf-->
		<add key="PathPDFs" value="C:\Users\morse\source\repos\Socios\Socios\pdf\"/>
		<!--key do localHost-->
		<add key="SiteURL" value="https://localhost:44354/"/>
		<!--key do email,deve colocar o url do email seu email-->
		<add key="SMTPMailUser" value="jecileide.araujo.23445@formandos.cinel.pt"/>
		<!--key do URL,deve colocar o url do email que irá utilizar, aqui no caso está do office365-->
		<add key="SMTP_URL" value=""/>
		<!--key do servidor PORTO, procurar na net-->
		<add key="SMTP_PORT" value="587"/>
		<!--key da Password, deve colocar sua senha-->
		<add key="SMTP_PASSWORD" value=""/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
